<div class='container-fluid' style="margin:20px;">
    <div class="text-center"><h2 style="color:#007FCC; font-weight:bold;">User Registration FAQ</h2></div>
    <div class="text-center"><p>Email: daikincity@daikincomfort.com. Contact: 1.866.432.4546 Option 6</p></div>
    <div>
        <ol type="1">
            <li style="font-size:large; font-weight:bold;">
                Looking for an Account ID?
            </li>
            <ol type="a">
                <li>Contact Your Business Sales Manager (Super User).</li>
                <li>Contact Daikin City Support Team for super user information.</li>
                <li>Note: Daikin City Account ID is a unique ID for your company to signup in Daikin City. In general Account-ID is 7-8 digit long and starts with ‘DC’ (DC123456) or ‘A’ (A123456). It is not (or associated with) your Customer ID (Financial ID).</li>
            </ol>
            <br />

            <li style="font-size:large; font-weight:bold;">
                Error Message: The email is already in use
            </li>
            <ol type="a">
                <li>This email is already signed up and cannot register again.</li>
                <li>Users not approved within 24 hours after submitting registration, please check your emails for additional information/verification requirement from Daikin City Support Team.</li>
            </ol>
            <br />

            <li style="font-size:large; font-weight:bold;">
                Error Message: Business is not enabled
            </li>
            <ol type="a">
                <li>Another user from your business has signed up in Daikin City today as well. Business will be enabled within one business day with your profile approval.</li>
                <li>Users not approved within 24 hours after submitting registration, please check your emails for additional information/verification requirement from Daikin City Support Team.</li>
            </ol>
            <br />

            <li style="font-size:large; font-weight:bold;">
                Error Message: Awaiting for Approval
            </li>
            <ol type="a">
                <li>User already signed up and awaiting for Daikin City to verify and approve access.</li>
                <li>Please allow Daikin 1 business day to process your profile registration.</li>
                <li>User not approved within 1 business day, please check your email for information/verification requirement from Daikin City Support Team.</li>
            </ol>
            <br />

            <li style="font-size:large; font-weight:bold;">
                What is my username and password?
            </li>
            <ol type="a">
                <li>Username is your email address.</li>
                <li>Click “Forgot Password” at sign in page to reset.</li>
            </ol>
            <br />

            <li style="font-size:large; font-weight:bold;">
                How to expedite my approval
            </li>
            <ol type="a">
                <li>Sign up with Daikin City Account ID.</li>
                <li>Provide the associate Daikin Manufacture Reps/ Distributors/Branch.</li>
                <ol type="i">
                    <li >Notes: Where does your business buy Daikin products?</li>
                </ol>
            </ol>

        </ol>
        
    </div>
</div>