<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- log4net config -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="live" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Gmcsql12\dctydb;initial catalog=dbDaikinProjectOfficeLive;User ID=DaikinAdmin;Password=Da1k1n20L4;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />-->
    <!--<add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crmtest11sql;initial catalog=dbDaikinProjectOfficeTest;User ID=DaikinAdmin;Password=Da1k1n20L4;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />-->
    <!--<add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Gmcsql12\dctydb;initial catalog=dbDaikinProjectOfficeLive;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />-->
    <!--<add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.90.202;initial catalog=dbDaikinProjectOfficeStaging; Connection Timeout=120;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />-->
    <!--AWS Test-->
    <add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GMCDCITYTEST-DB;initial catalog=dbDaikinProjectOfficeStaging; Connection Timeout=120;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />
  </connectionStrings>
  <appSettings>

    <!--Daikin configuration START-->
    <add key="dpo.sys.domain" value="development" />

    <!-- Daikin University BEGIN -->
    <add key="dpo.daikinuniversity.base.url" value="https://daikin.csod.com" />
    <!--<add key="dpo.daikinuniversity.base.url" value="https://daikin-pilot.csod.com" />-->

    <add key="dpo.daikinuniversity.account" value="daikin" />
    <add key="dpo.daikinuniversity.user.prefix" value="" />
    <add key="dpo.daikinuniversity.timestamp.format" value="ddd, dd MMM yyyy HH:mm:ss" />
    <!-- AES SSO -->
    <add key="dpo.daikinuniversity.aessso.handler" value="AESSSODefault.aspx" />

    <!-- Pilot Configuration -->
    
    <!--
    <add key="dpo.daikinuniversity.base.url" value="https://daikin-pilot.csod.com" />
    <add key="dpo.daikinuniversity.aessso.aeskey" value="5CEF672DF14EB4E0BEBB931402895D4CDC9C33D4BEF4B66114B574586F4CC8B7" />
    <add key="dpo.daikinuniversity.aessso.aesiv" value="6B008E01D12C7F410C7A5EBB4C817E95" />

    <add key="dpo.daikinuniversity.aessso.ouid" value="2" />
    <add key="dpo.daikinuniversity.aessso.errorurl" value="https://daikin-pilot.csod.com/common/ssoerror.aspx" />
    <add key="dpo.daikinuniversity.aessso.logouturl" value="https://daikin-pilot.csod.com/common/ssologout.htm" />
    <add key="dpo.daikinuniversity.aessso.timeouturl" value="https://daikin-pilot.csod.com/common/ssotimeout.htm" />
    <add key="dpo.daikinuniversity.aessso.desturl" value="https://daikin-pilot.csod.com/LMS/catalog/Welcome.aspx" />

    <add key="dpo.daikinuniversity.api.key" value="ejkdaj79vmq3" />
    <add key="dpo.daikinuniversity.api.secret" value="tRMTj6puTJxMaitTqrqkm42wT2TrEYuE9D8QN0eJ2EcVc1Sfy4cdIOHk81XNlwBvOIoeY9MIFw8khkPczoi0WA==" />
    -->

    <!-- Production Configuration -->
    
      <add key="dpo.daikinuniversity.base.url" value="https://daikin.csod.com" />
      <add key="dpo.daikinuniversity.aessso.aeskey" value="84D7F6D5EE01C74F08B8B35D0C1357195E286F45574302524AC874308C67BD7E" />
      <add key="dpo.daikinuniversity.aessso.aesiv" value="DDB9EAE80EA005614AB9C2D50C245716" />
      
      <add key="dpo.daikinuniversity.aessso.ouid" value="2" />
      <add key="dpo.daikinuniversity.aessso.errorurl" value="https://daikin.csod.com/common/ssoerror.aspx" />
      <add key="dpo.daikinuniversity.aessso.logouturl" value="https://daikin.csod.com/common/ssologout.htm" />
      <add key="dpo.daikinuniversity.aessso.timeouturl" value="https://daikin.csod.com/common/ssotimeout.htm" />
      <add key="dpo.daikinuniversity.aessso.desturl" value="https://daikin.csod.com/LMS/catalog/Welcome.aspx" />
     
      <add key="dpo.daikinuniversity.api.key" value="sr8qibvb4jvs" />
      <add key="dpo.daikinuniversity.api.secret" value="+nW8fjaYm8rfzAcN7NqXX29Mcv4lC66DX5mDAm7r2MrUGpRLngAEJt2man/+dO1XC/jx9LexTNnoI0iy6LNtIA==" />
      

    <!-- Daikin University API -->
    
    <add key="dpo.daikinuniversity.api.user" value="tableauadmin" />
    <add key="dpo.daikinuniversity.api.relativeurl" value="services/api/" />
    <add key="dpo.daikinuniversity.api.sts.relativeurl" value="sts/Session" />

    <!-- Daikin University END -->

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>