<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="local" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELPHIN3\DELPHISQL;initial catalog=dbDaikinProjectOfficeDev;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />
    <add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.201\SQLEXPRESS;initial catalog=dbDaikinProjectOfficeDev;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />
    <add name="qa" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.201\SQLEXPRESS;initial catalog=dbDaikinProjectOfficeQA;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />
    <add name="staging" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.90.202;initial catalog=dbDaikinProjectOfficeStaging;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />
    <add name="live" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GMCSQL12\DCTYDB;initial catalog=dbDaikinProjectOfficeLive;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="elmah.mvc.route1" value="errors" />
    <!--Daikin configuration START-->
    <add key="dpo.sys.domain" value="local" />
    <add key="dpo.sys.data.cache.secs" value="5" />
    <add key="dpo.sys.data.cache.secs.staging" value="5" />
    <add key="dpo.sys.data.cache.secs.live" value="15" />
    <add key="dpo.sys.data.import.daysfromtoday" value="0" />
    <add key="dpo.setup.company.name" value="Daikin Industries" />
    <add key="dpo.setup.company.accountid" value="A111198" />
    <add key="dpo.setup.toplevel.groupid" value="100" />
    <add key="dpo.webservices.toplevel.groupname" value="gmccrm1" />
    <add key="dpo.webservices.endpoint" value="CRMTest" />
    <add key="dpo.webservices.endpoint.live" value="CRMLive" />
    <add key="dpo.setup.superuser.username" value="daikinsuperuser@somewhere.com" />
    <add key="dpo.setup.superuser.username.staging" value="daikinsuperuser@somewhere.com" />
    <add key="dpo.setup.superuser.username.live" value="daikincity@daikincomfort.com" />
    <add key="dpo.setup.superuser.password" value="test" />
    <add key="dpo.setup.documentservice.url" value="localhost:8000" />
    <add key="dpo.setup.documentservice.url.development" value="localhost:8000" />
    <add key="dpo.setup.documentservice.url.QA" value="localhost:8011" />
    <add key="dpo.setup.documentservice.url.staging" value="localhost" />
    <add key="dpo.setup.documentservice.url.live" value="localhost" />
    <add key="dpo.setup.document.location" value="..\DaikinDocuments\" />
    <add key="dpo.setup.customerdata.location" value="..\CustomerDataFiles\" />
    <add key="dpo.setup.daikincity.location" value="..\DaikinCityWeb\" />
    <add key="dpo.setup.services.location" value="D:\Workspace\Daikin Project Office\DPO.Services\" />
    <add key="dpo.setup.services.location.development" value="X:\visualstudioonline\Daikin\project-office\DPO.Web\DPO.Web\" />
    <add key="dpo.setup.services.location.QA" value="c:\Services\" />
    <add key="dpo.setup.services.location.staging" value="c:\Services\" />
    <add key="dpo.setup.services.location.live" value="c:\Services\" />
    <add key="dpo.setup.web.location" value="D:\Workspace\Daikin Project Office\DPO.Web\DPO.Web\" />
    <add key="dpo.setup.web.location.development" value="X:\visualstudioonline\project-office\DPO.Web\DPO.Web\" />
    <add key="dpo.setup.web.location.QA" value="C:\Websites\DaikinQA\" />
    <add key="dpo.setup.web.location.staging" value="C:\Websites\DPO.Web\" />
    <add key="dpo.setup.web.location.live" value="C:\Websites\DPO.Web\" />
    <add key="dpo.sys.email.port" value="25" />
    <add key="dpo.sys.email.username" value="alan.machado@wearesmartcookie.com" />
    <add key="dpo.sys.email.password" value="" />
    <add key="dpo.sys.email.from" value="alan.machado@wearesmartcookie.com" />
    <add key="dpo.sys.email.from.staging" value="Deepak.Mandloi@daikincomfort.com" />
    <add key="dpo.sys.email.from.live" value="daikincity@daikincomfort.com" />
    <add key="dpo.sys.email.discountrequest" value="alan.machado@wearesmartcookie.com" />
    <add key="dpo.sys.email.discountrequest.staging" value="project.desk@daikincomfort.com" />
    <add key="dpo.sys.email.discountrequest.live" value="project.desk@daikincomfort.com" />
    <add key="dpo.sys.email.host" value="smtp.office365.com" />
    <add key="dpo.sys.email.host.staging" value="mailgw.goodmanmfg.com" />
    <add key="dpo.sys.email.host.live" value="mailgw.goodmanmfg.com" />
    <add key="dpo.sys.email.username.staging" value="" />
    <add key="dpo.sys.email.username.live" value="" />
    <add key="dpo.sys.email.password.staging" value="" />
    <add key="dpo.sys.email.password.live" value="" />
    <add key="dpo.sys.countries" value="us,ca" />
    <add key="dpo.sales.team.email" value="alan.machado@wearesmartcookie.com" />
    <add key="dpo.sales.team.email.staging" value="sales.support@daikincomfort.com" />
    <add key="dpo.sales.team.email.live" value="sales.support@daikincomfort.com" />
    <add key="dpo.sales.commission.negotiation.multiplier" value="0.369" />
    <add key="dpo.sales.commission.negotiation.totallist.threshold" value="100000" />
    <add key="dpo.sales.commission.competitive.multiplier" value="0.479" />
    <add key="dpo.sales.commission.competitive.totallist.threshold" value="20000" />
    <add key="dpo.sales.commission.buysell.total.threshold" value="50000" />
    <add key="dpo.sales.commission.default.multiplier" value="0.6" />
    <add key="dpo.sales.discount.approval.active.days" value="120" />
    <!--Daikin configuration END-->
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio 12.0\Team Tools\Performance Tools\vsinstr.exe" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <globalization uiCulture="en-US" culture="en-US" />
    <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="600" defaultUrl="~" />
    </authentication>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.IO" />
        <add namespace="System.IO.Compression" />
      </namespaces>
    </pages>
    <customErrors defaultRedirect="/shared/error/" mode="RemoteOnly" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/x-javascript"/>
    </staticContent>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add name="Static" verb="*" path="*" type="System.Web.StaticFileHandler" />-->
      <add name="DaikinCityWebHandler" path="daikincityweb/*" verb="*" type="DPO.Web.DaikinCityWebHandler" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <!--<remove name="UrlRoutingModule-4.0" />
        <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition=""  />
        -->
      <!-- any other modules you want to run in MVC e.g. FormsAuthentication, Roles etc. -->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1312.1622" newVersion="4.2.1312.1622" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICRMService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="CRMTest" address="https://crmtestisv.goodmanmfg.com/Services/DPOServices/CrmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService" contract="DaikinWebServices.ICrmService" />
      <endpoint name="CRMLive" address="https://crmprodisv.goodmanmfg.com/Services/DPOServices/CrmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService" contract="DaikinWebServices.ICrmService" />
    </client>
  </system.serviceModel>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
  </elmah>
</configuration>